<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Math</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="button" value="+" @click="add()" />
      <input type="button" value="-" @click="del()" />
      <input type="button" value="*" @click="mul()" />
      <input type="button" value="/" @click="div()" />
      <br />
      <br />
      <label v-if="operater=='+'">การบวก</label>
      <label v-if="operater=='-'">การลบ</label>
      <label v-if="operater=='*'">การคูณ</label>
      <label v-if="operater=='/'">การหาร</label>
      <br />
      <input type="number" v-model="number1" />
      {{ operater }}
      <input type="number" v-model="number2" />
      =
      <span>{{ add }}</span>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          number1: 0,
          number2: 0,
          result: 0,
          operater: "",
        },
        computed: {
          add: function () {
            this.operater = "+";
            return parseInt(this.number1) + parseInt(this.number2);
          },
          del: function () {
            this.operater = "-";
            return parseInt(this.number1) - parseInt(this.number2);
          },
          mul: function () {
            this.operater = "*";
            return parseInt(this.number1) * parseInt(this.number2);
          },
          div: function () {
            this.operater = "/";
            return parseInt(this.number1) / parseInt(this.number2);
          },
        },
      });
    </script>
  </body>
</html>
